
    .single-logo{
        margin-left: 10px;
        margin-right: 10px;
      }
  
      .single-logo img {
        height: 80px;
        /* width: 45px!important; */
      }
      @media only screen and (max-width: 770px) {
        .single-logo img {
          width: 60px!important;
        }
      }
  
      
  
  
  
    