/* .social{
    line-height: 50px;
} */
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
ul.social-network li:hover ul.social-network li a{
    /* transform: rotate(360deg); */
    font-size: 10px;
}

@media only screen and (max-width: 390px) {
    ul.social-network li {
        margin: 0 1px;
    }
  }

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: #ffffff;
    line-height: 30px;
    transition: all 0.5s;
}
.social-circle li a:hover{
    transform: scale(1.2);
}

.social-network a.icoFacebook {
    background-color: #3B5998;
}
.social-network a.icoLinkedin {
    background-color: #007bb7;
}
.social-network a.icoTwitter {
    background-color: #33ccff;
}
.social-network a.icoYoutube {
    background-color: #FF0100;
}