.software-wrapper{
    text-align: center;
    min-height: 300px;
    margin-bottom: 30px;
    padding: 10px;
    transition: all 0.5s;
    box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
}

.software-icon i{
    font-size: 35px;
    color: #009CCE;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 1px 30px;
    transition: all 0.7s;
    background-color: #B7DFED;
}

.software-wrapper:hover{
    box-shadow: 0 12px 20px rgb(0 0 0 / 15%);
    border-bottom: 3px solid #57C0E7;
}
.software-wrapper:hover .software-icon i{
    border-radius: 30px 1px;
    
}
.view-details a{
    text-decoration: none;
    color: #57C0E7;
    font-size: 18px;
}
.view-details a:hover{
    color: #57C0E7;
}