

/*faq page start here*/
.panel-title > a:before {
    font-family: FontAwesome;
    content: "\f058";
    margin-top: 4px;
    padding: 5px;
    margin-right: 20px;
    float: right;
    color: #79c479;
}

.panel-title > a {
    color: grey !important;
    font-size: 18px;
    border-left: 2px solid #79c479;
    padding-left: 10px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    .panel-title > a {
        font-size: 15px;
    }
}

.panel-title > a.collapsed:before {
    content: "\f05d";
    margin-right: 20px;
    color: #79c479;
    margin-top: 4px;
}

.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
    text-decoration: none;
    color: #303030 !important;
}

.panel-heading {
    border: 1px solid #79c479;
    margin-bottom: 30px;
    padding: 10px;
}

.panel-body {
    padding: 30px;
    border: 1px solid #79c479;
    border-radius: 10px;
    margin-bottom: 10px;
}

/*faq page end here*/